.Blue-100 {
    background: #e6ebff;
}
.Blue-200 {
    background: #bfc9f0;
}
.Blue-300 {
    background: #a6b6f1;
}
.Blue-400 {
    background: #7f94e2;
}

.Violet-100 {
    background-color: #f5f1ff;
}
.Violet-200 {
    background: #eee6ff;
}
.Violet-300 {
    background: #cab2f1;
}
.Violet-400 {
    background: #b28fea;
}

.Neutral-100 {
    background: #f8f9fd;
}
.Neutral-200 {
    background-color: #f0f0f0;
}

.P-Orange {
    background: #ffd887;
}
